*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

@media(max-width:700px){
    .netflix-logo a{
        
    position: unset;
    background-color: blue;

    }
}
.netflix-logo{
    position:relative;
    width: 100%;
}
@media(max-width:700px){
    .netflix-logo{
        position: unset;
        width: 80px;
        padding-top: 5px;
        
    }
}
@media(max-width:700px){
    .netflix-logo a{
        width: 90px;
    }
}

.netflix-logo a{
    background-color: rgb(226, 22, 22);
    color:white;
    font-size: 1rem;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    position: absolute;
    margin-left:0Px;
    left:89%;
    top: 31px;
}    
.netflix-logo a:hover{
    opacity: 0.9;
}
 
.netflix-logo img{
    width: 170px;
    margin-left: 44.5%;
    margin-top: 21px;
  
}
.netflix-pic{
    margin: 0px;
    background-image:radial-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1.5)), url("../images/pic1.jpg") ;
    /* background-image:conic-gradient(rgba(83, 33, 33, 0.7),rgba(0, 0, 0, 0.8)), url("/images/pic1.jpg") ; */
    /* background-image:url("/images/pic1.jpg") ; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    background-blend-mode:darken;
}
@media(max-width:700px){
    .netflix-pic{
        height: 415px;
    }
}
@media(max-width:700px){
    .text .text1{
        font-size: 2.5rem;
        margin-block-start: 22%;
    }
}
.text1{
    margin-top: 170px;
    /* margin-bottom: 30px; */
    color: rgb(245, 240, 234);
    text-align: center;
    font-size: 5.2rem;
    line-height: 1;
    font-weight: 700px;
    margin:0px 0px 2rem;
    display:block;
    margin-block-start: 2em;

}
@media(max-width:700px){
    .text .text2{
        justify-items: center;
        font-size: 1rem;
    }
}
.text2{
    text-transform: uppercase;
    color: rgb(245, 240, 234);
    text-align: center;
    font-size: 1.9rem;
    line-height: 1.6;
    font-weight: 500px;

}
@media(max-width:700px){
    .text .watch-link a{
        justify-items: center;
        font-size: 1rem;
        padding: 20px 30px;
        
    }
}
.watch-link{
    color: rgb(245, 240, 234);
    margin-top: 50px;
    margin-right: 13px;
    text-align: center;

}
.watch-link a{
    background-color: rgb(216, 18, 18);
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 25px 35px;
    font-size: 2rem;
    border-radius: 2px;
    text-transform: uppercase;
}
.watch-link i{
    padding-left: 20px;
}
.watch-link a:hover{
    opacity: 0.9;
}

.tabs i{
    font-size: 3.5em;
    color: lightslategray;
    display: block;
    margin: 20px;
}
.tabs i:hover{
    color: aliceblue;
}
@media(max-width:700px){
    .para{
        display: none;
    }
}
.para{
    font-size: 1rem;
}
.para:hover{
    color: aliceblue;
}
.tab1:hover{
    border-bottom: 4px solid rgb(214, 10, 10);
    z-index: 2;
}
.tabs{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    grid-column-gap: 100px;
    border-bottom: 4px solid gray;
    height: 160px;


}

@media(max-width:700px){
    .tabs{
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        grid-column-gap: 0px;
        height: 125px;
    }
}
.tab1{
    color: lightslategray;
    background-color: rgb(32, 32, 32);
    /* height: 150px; */
    width: 100%;
    padding: 20px;
    text-align: center;
    padding-bottom: 0px;
}
.tab-item1{
    background-color: black;
    color: white;
    margin: auto;
    display: block;
    height: 600px; 
}
@media(max-width:700px){
    .tab-item1{
            height: 900px;
}

}
.two{
    grid-gap: 2.6rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr );
    max-width: 60%;
    margin: auto;
    padding: 3rem 0px;
    /* justify-items: center; */
}
.two .div1{
    font-size: 25px;
    text-align:left;
    margin-block-start: 80px;
    display: block;
    padding: 0px;
}
@media(max-width:960px){
    .two .div1{
       font-size: 1.3rem;
        text-align: center;
    margin-block-start: 0px;

    }
}

.tab-item1 .watch1{
    color: aliceblue;
    margin-top: 25px;
    margin-block-end: 40px;

}
.tab-item1 .watch1 a{
    background-color: rgb(235, 27, 27);
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: 1.5rem;
    border-radius: 2px;
}
  
.two img{
    width: 400px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
@media(max-width:960px){
    img{
        margin-block-start:0px; 
        width: 50px;
    }
}
@media(max-width:960px){
   .two{
    grid-template-columns: 1fr;  
    grid-gap: 0px;
    }
}

.address{
    clear: both;
    line-height: 1.9;
    color: #a09f9f; 
    margin-left: 15.5%;
    font-size: 15px;

}

.footer ul li a{
        text-decoration: none;
        color: #a09f9f; 
        text-align: left;

}
.footer ul li{
    list-style-type: none;
    line-height: 2;
    display: list-item;
    font-size: 15px;
       
}
.footer ul{
    margin: 0px;     
}
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-column-gap: 20px; */
    max-width: 75%;
    margin: auto;
    justify-content: left;

}
@media(max-width:960px){
    .footer{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
}




